{% extends "base.html" %}

{% block title %}Record {{record}}{% endblock %}

{% block content %}
<br>
<div class="card">
    <div class="card-header">
        {{record.first_name}} {{record.last_name}} 
    </div>
    <div class="card-body">
      <h5 class="card-title">Email: {{record.email}}</h5>
      <h5 class="card-title">Adress: {{record.adress}}</h5>
      <h5 class="card-title">Phone: {{record.phone}}</h5>
      <h5 class="card-title">City: {{record.city}}</h5>
      <h5 class="card-title">State: {{record.state}}</h5>
      <h5 class="card-title">Zipcode: {{record.zipcode}}</h5>

    </div>
</div>
<br>
<a href='{% url "home" %}' class='btn btn-secondary'> go home </a>
<a href='{% url "delete_record" record.id %}' class='btn btn-danger'> Delete </a>

    


{% endblock content %}